body,
html,
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(2, 136, 2);
  width: 100%;
  height: 20vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 2rem;
}

.done {
  text-decoration-line: line-through;
}

form {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: center;
  width: 20%;
  height: auto;
  padding: 5%;
}

label,
input,
a,
button,
h1,
h2,
h3,
span {
  font-family: "Shadows Into Light", cursive;
}

.logout {
  text-decoration: none;
  font-size: 1.5rem;
  padding-right: 1rem;
  color: white;
}

.logout:hover {
  color: red;
}

h2 {
  font-size: 2rem;
  color: white;
}

label {
  font-size: 1.5rem;
  margin-bottom: 5%;
}

input {
  width: 100%;
  height: auto;
  padding: 5%;
  margin-bottom: 5%;
  border: none;
  border-bottom: 2px solid rgb(219, 14, 14);
}

.btn {
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-family: "Shadows Into Light", cursive;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(2, 136, 2);
}

.btn:hover {
  background-color: rgb(2, 136, 2);
  color: white;
}
